<h3>New Topic</h3>
<form name="newTopicForm" novalidate data-ng-submit="save()">
    <fieldset>
        <div class="col-md-pull-12">
            <label for="title">Title</label> <br />
            <input name="title" type="text" data-ng-model="newTopic.title" required data-ng-minlength="5"/>
            <span class="error" data-ng-show="newTopicForm.title.$error.required">*</span>
            <span class="error" data-ng-show="newTopicForm.title.$error.minlength">Minimum 5 Characters</span>
        </div>
        <br />
        <div class="col-md-pull-12">
            <label for="body">Body</label> <br />
            <textarea name="body" rows="5" cols="30" data-ng-model="newTopic.body" required data-ng-minlength="15" />
            <span class="error" data-ng-show="newTopicForm.body.$error.required">*</span>
            <span class="error" data-ng-show="newTopicForm.body.$error.minlength">Minimum 15 Characters</span>
        </div>
        <div class="col-md-pull-12">
            <input type="submit" class="btn btn-primary" value="Save" data-ng-disabled="newTopicForm.$invalid"/>
            <a href="#/" class="btn btn-primary">Cancel</a>
        </div>
    </fieldset>

</form>